<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center mt-3">阿爸欸記帳本</h2>
      <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Type select</label>
        <select class="form-select" id="exampleSelect1">
          <option>Clothes</option>
          <option>Food</option>
          <option>Living</option>
          <option>Traffic</option>
          <option>Income</option>
        </select>
      </div>
      <h1>Total Amount： 29830 $</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">In/Out</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">Active</th>
            <td>2930</td>
            <td>Shoes</td>
            <td>Spending</td>
            <td class="text-end">
            <a href="#" class="badge bg-primary text-decoration-none">Edit</a>
            <a href="#" class="badge bg-danger text-decoration-none">X</a>
            </td>
          </tr>
          <tr class="table-dark">
            <th scope="row">Dark</th>
            <td>40230</td>
            <td>Salary</td>
            <td>Income</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>